body {
  background: #A0E418;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: rgb(46, 53, 50);
}

h2 {
  font-family: 'Montserrat', cursive;
  font-size: 20px;
  color: rgb(110, 103, 95);
}3

h3 {
  font-family: 'Montserrat', cursive;
  font-size: 16px;
  color: rgb(46, 53, 50);
}

p {
  font-size: 14px;
  line-height: 20px;
  color: black;
}

ul {
  list-style-type: disc;
}

img {
  height: 250px;
  width: 190px;
  border-radius: 30%;
  background-color; rgba(90, 90, 90, 0.1);
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}

div {
  background: #A0E418;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.text-center {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.text-center a {
  font-size: 30px;
  color: red;
  text-decoration: none;
}

.text-center a:hover {
  color: purple;
  text-decoration: none;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 70px;
}

#img-profile {
  width: 200px;
  height: 200px;
  border: 1px solid;
}

.img-circle {
  border-radius: 50%;
}

.container {
  width: 600px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
